.icon-voltar {
    padding: 10px;
}

.icon-barcode {
    margin-right: 10px;
}

.button-barcode {
    margin-top: 15px;
}

ion-content {
    padding: 10px;
}

.button-cadastrar {
    margin-top: 20px;
    float: right;
    margin-right: 10px;
}