<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastrar por Cod. Barras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
    <form #form="ngForm" (ngSubmit)="cadastrar(form)">
      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                  <ion-label position="floating">Código</ion-label>
                  <ion-input type="number" value="{{code}}" [(ngModel)]="produto.codigo" name="codigo"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-button class="button-barcode" expand="full" color="medium" (click)="scanCode()">
                  <ion-icon class="icon-barcode" name="barcode"></ion-icon> Scan Codigo
                </ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="floating">Supermecado</ion-label>
        <ion-select placeholder="Selecione um Supermecado" [(ngModel)]="produto.supermecado" name="supermecado">
          <ion-select-option *ngFor="let item of items" value="{{item.id}}">
              {{item.nomeSupermercado}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Data Termino</ion-label>
          <ion-input type="date" [(ngModel)]="produto.dataTermino" name="dataTermino" placeholder="dd/mm/aaaa"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input type="text"  [(ngModel)]="produto.valor" name="valor" placeholder="0.00" [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}">R$ </ion-input>
      </ion-item>
      <ion-button class="button-cadastrar" type="submit" color="dark">
        Cadastrar
      </ion-button>
    </form>
    
   

   
  </ion-content>
