ion-card ion-card-header {
    margin-top: 20px;
}
ion-card-subtitle {
    color: var(--ion-color-dark-shade);
}
.img-supermecardo {
    position: absolute;
    width: 60px;
    height: auto;
    opacity: 0.2;
    top: 0px;
    right: 7px;
}
.img-produto {
    max-width: 140px;
    margin: auto;
    float: left;
    padding: 10px;
}

.preco{
    color: var(--ion-color-danger-tint);
    font-weight: 600;
}

span.nome-supermercado {
    font-size: 12px;
    color: var(--ion-color-medium-tint);
}

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }